<div class="container">
  <div class="row">
    <div class="col-12 mt-3 d-flex justify-content-between align-items-center">
      <h6>Meu Perfil (User)</h6><a href="/edit" class="badge badge-warning">Edit</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
      <div class="d-flex flex-column text-center">
        <figure class="figure">
          <img src="{{answer.imgPath}}" class="figure-img rounded-circle" alt="Profile Picture">
        </figure>
        <h6>{{answer.name}}</h6>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h6>Meus Dados</h6>
      <hr>
    </div>
    <div class="col-3 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Age</h6>
      <p>{{answer.age}}</p>
    </div>
    <div class="col-4 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Tilte</h6>
      <p>{{answer.title}}</p>
    </div>
    <div class="col-5 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Cellphone</h6>
      <p>{{answer.contact}}</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Email address</h6>
      <p>{{answer.username}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h6>Minhas Reservas</h6>
      <hr>
    </div>
    <div class="col-12 col-sm-12">
      <div class="card-deck">
        {{#if reserva}}
        {{#each reserva}}
        <div class="card">
          {{#each business}}
          <img src="{{imgPath}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">{{name}}</h6>
            <p class="card-text">{{description}}</p>
            <p class="card-text d-flex flex-row justify-content-between">
              <a href="/reserva" class="badge badge-dark">Em andamento</a>
            </p>
          </div>
          {{/each}}
        </div>
        {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>