<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h6>Meus Dados</h6>
    </div>
  </div>
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-12">
        <hr>
        <div class="d-flex flex-column text-center">
          <figure class="figure">
            <img src="{{imgPath}}" class="figure-img rounded-circle" alt="Profile Picture">
          </figure>
          <h6>{{name}} </h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>Meus Dados</h6>
        <hr>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="foto-barraca">Foto</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="foto-perfil-upload">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" name="imgPath" value="{{imgPath}}" class="custom-file-input" id="foto-perfil"
                aria-describedby="foto-perfil" required>
              <label class="custom-file-label" for="foto-perfi">Choose file</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" name="name" aria-describedby="namealert" value="{{name}}"
            required>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" name="age" aria-describedby="agealert" value="{{age}}" required>
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" name="cpf" aria-describedby="cpfalert" value="{{cpf}}"
            required>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="exampleInputTitle1">Title:</label>
          <div class="input-group mb-3">
            <select class="custom-select" name="title" id="title" required>
              <option value="{{title}}" selected>{{title}}</option>
              <option value="Miss">Miss</option>
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Ms">Ms</option>
              <option value="Mx">Mx</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label for="exampleInputContact1">Cellphone</label>
          <input type="text" class="form-control" name="contact" id="exampleInputContact1" value="{{contact}}"
            required>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
            value="{{username}}" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 text-center">
        <hr>
        <button type="submit" name="saveUserProfile" class="btn btn-sm btn-outline-success"
          id="saveUserProfile">Salvar</button>
      </div>
    </div>
  </form>
</div>